.site-header {
  @extend %padding-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;
  margin-bottom: 1.5em;

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 4.0em; // 2em;
    width: 4.0em; // 2em;
    float: left;
    margin-right: 1.2em;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1.8; // 2.0
    margin-top: 0.25em; // 6px;
  }

  .site-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 3.5;
      float: right;
      text-align: right;
      font-size: 1.25em; // 1.5em
      font-weight: bold;
    }
    li {
      display: inline;
      float: left;
      margin-right: 1.0em; // spacing between items
    }
    @media (max-width: 800px) { // 800px
      ul {
        display: inline-block;
        float: left;
        padding-top: $padding-small;
        text-align: left;
        width: 100%;
      }
    }
  }
}
