{% assign media_name = include.name %}
{% assign media_file = site.static_files | where:"name", media_name %}
{% assign media_path = media_file[0].path %}
{% assign media_data = site.data.media | find:"name", media_name %}

{% assign media_type = media_data.type | default: "image" %}
{% assign media_caption = media_data.caption | default: nil %}
{% assign media_source = media_data.source | default: nil %}
{% assign media_website = media_data.website | default: nil %}

{% capture div_class %}figure align-{{ include.align }}{% endcapture %}

<div class="{{ div_class }}">

<figure>

<!-- audio block -->

{% if media_type == "audio" %}

   <audio controls id="conducting-conversations" preload="auto"  volume="0.80" style="width: 600px;" >
   <source 
      type="audio/mpeg" 
      src="https://f001.backblazeb2.com/file/corememorymusic/{{ name }}">
   Your browser does not support the <code>audio</code> element.
   </audio>

{% endif %}


<!-- video block -->

{% if media_type == "video" %}

   {% assign aspect = include.aspect | default: "16x9" %}

   {% if aspect == "4x3" %}
      {% assign width = include.width | default: 480 %}
      {% assign height = include.height | default: 360 %}
   {% else %}
      {% assign width = include.width | default: 640 %}
      {% assign height = include.height | default: 360 %}
   {% endif %}

   {% if include.poster %}
      {% assign poster_file = site.static_files | where:"name", include.poster %}
      {% assign poster_path = poster_file[0].path %}
   {% endif %}

   <video controls 
      width={{ width }} 
      height={{ height }} 
      preload=auto 
      {% if poster %} poster="{{ poster_path }}" {% endif %}
      style="background-color:black;">
      <source 
         src="https://corememorymusic.s3.us-west-001.backblazeb2.com/{{ name }}" 
         type="video/mp4">
      Your browser does not support the video tag.
   </video>

{% endif %}


<!-- image block -->

{% if media_type == "image" %}

   {% assign img_class = nil %} 

   {% if include.shadow %} 
      {% assign img_class = "box-shadow" %} 
   {% endif %}

   <img src="{{ media_path }}" alt="{{ caption }}" class="{{ img_class }}" >

{% endif %}


<!-- caption block -->

<style>

#figcaption {
   font-size: 0.95em;
   font-style: italic;
   line-height: 1.6;
   padding-top: 0.75em;
   text-align: center; 
}

</style>

{% if media_source %}
{% if media_website %}
   {% capture media_source %} Credit: <a href='{{ website }}'>{{ media_source }}</a>{% endcapture %}
{% else %}
   {% capture media_source %} Credit: {{ media_source }} {% endcapture %}
{% endif %}
{% endif %}

<div id="figcaption">
   <figcaption>
   {% if media_caption %} {{ media_caption }} {% endif %}
   {% if media_caption and media_source %} <br/> {% endif %}
   {% if media_source %} {{ media_source }} {% endif %}
   </figcaption>
</div>

</figure>

</div>
