<div class="table-container" style="width:100%; font-size:14px;">

<table id="styled-table">

<thead>
<tr>
   <th title="Field #1" style="width:20%">Date</th>
   <th title="Field #2" style="width:14%">Time</th>
   <th title="Field #3" style="width:66%">Concert</th>
</tr>
</thead>

<tbody>

<ul>

{% for concert in include.concerts %}
<tr style="height: 72px;">

   <td>
   {{ concert.date | date: "%B %e" }}
   </td>

   <td>
   {{ concert.date | date: "%-I:%M %P" }}
   </td>

   <td>
{% if concert.title == "TBA" %}
   <em>To be announced</em>
{% else %}
   <b><a href="{{ concert.url }}">{{ concert.title }}</a></b>
   <div style="font-size:13px; padding-top:4px;"> {{ concert.artists | join: " ∙ " }} </div>
{% endif %}

   </td>

</tr>
{% endfor %}

</ul>
</tbody>
</table>
</div>
