{% comment %}

Concert Venue and Directions

Public transportation options:

- [Bus service][1] from Providence to the University of Rhode Island (URI)
- [Amtrak rail service][2] from New York/New Haven/Boston to Kingston station (KIN)
- [Airline service][3] to Rhode Island T. F. Green International Airport (PVD)

{% endcomment %}

Our concerts take place at a private home in southern Rhode Island, near the village of
Wakefield. The address is **103 North Road, Wakefield RI 02879**. Driving time from
Providence, Newport, Westerly, and southeastern Connecticut is under an hour. An [Amtrak][2]
station is only 10 minutes drive from the venue.

[Map and Directions][0]

[0]: https://goo.gl/maps/g77318Ud2csumT9h7 "Map and Directions"
[1]: https://www.ripta.com/66?d=2 "RIPTA Route 66"
[2]: https://www.amtrak.com/stations/kin "Kingston Station"
[3]: https://www.pvdairport.com/flights/airlines "T. F. Green International Airport"
