---
layout: default
---

<article>

<section>

{% if page.banner %}

   {% assign banner_image = page.banner %}
   
{% else %}

   {% assign banner_month = page.date | date: "%m" | to_integer %}
   {% assign banner_data = site.data.banners | where: "month", banner_month %}
   {% assign banner_image = banner_data[0].image %}
   
{% endif %}

{% assign file = site.static_files | where: "name", banner_image %}
{% assign path = file[0].path %}

<header class="hero-image" style="background-image: url('{{ path }}');">
   <div class="hero-text">
      <h1>{{ page.title }}</h1>
      <h3>{{ page.subtitle | default: page.date | date: "%B %e, %Y" }}</h3>
   </div>
</header>

</section>

<section class="post-content" style="padding: 0%" > 
{{ content }} 
</section>

<section> {% include cmm/final.html %} </section>

</article>
